* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    background: #000;
}

.container {
    margin: 20px auto 0 auto;
    padding: 20px 20px 20px 20px;
    width: 800px;
    /*background: #FFF;*/
    color: #fff;
    border-radius: 3px;
}

#counter-down {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 80px;
    color: #fff;
}

#trigger {
    margin: 60px auto 20px auto;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 20px 60px;
    font-size: 60px;
    color: #FFF;
    background: #588ec4;
    border: 0;
    border-radius: 3px;
}

#trigger:hover {
    background: #7aa2c9;
}

#video {
    width: 800px;
    height: 600px;
}

#info {
    font-size: 80px;
    text-align: center;
}
